p {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 2rem;
}

.one {
  font-weight: 300;
}

.two {
  font-weight: 400;
}

.three {
  font-weight: 700;
}
