#idx-atf > div {
     height: 80vh;
 }

header div, header div a, header div a h1{
    width: 100%;
    /*text-align: center;*/
}

header div a svg, header nav {
    display: none;
}

h1 {
    font-size: 2rem;
}
