html, body {
  margin: 0;
  padding: 0;
}

header, div, footer {
  padding: 2%;
  text-align: center;
  background-color: green;
  border: 1px solid black;
}

div {
  width: 20%;
}

.left {
  background-color: orange;
  float: left;

}

.right {
  background-color: tomato;
  float: right;
  width: 70%;
}

.clearfix {
  clear: both;
}
